@font-face {
  font-family: 'SaudiRiyalSymbol';
  src:
    url('/fonts/saudiriyal.woff2') format('woff2'),
    url('/fonts/saudiriyal.woff') format('woff'),
    url('/fonts/saudiriyal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.saudi-riyal-symbol {
  font-family: 'SaudiRiyalSymbol', sans-serif;
  font-weight: normal;
  color: inherit;
  font-size: inherit;
}
